*{
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
    background-color:#1173d1;
    color: #ffffff;
    display: flex;

align-items: center;

justify-content: center;


    
}
.container {
   width: 90vw;
    background-color:#01070cb7 ;
    height: 100vh;
    margin: 1px;
    padding: 16px;
    padding-top:70px;
    border-radius: 15px;
    
    
}
.visor{
  border: solid 1px black ;
  border-radius: 5px;
  background-color:#6d6d6d;
  margin-left:50%;
  width: 25vw;
  font-size:30px;
  border-color:#ffffff;
}
#tabela{
    border: solid 1px black ;
    
}
th{width: 20vw;
    border: solid 1px black ;
}
button {
    width: 45vw;
    height: 5vh;
    margin: 10px;
    border-radius: 7px;
    font-size:15px;
}
.btadd{
    margin-left:50%;
    font-size:20px;
}
